@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Rubik+Doodle+Shadow:regular);

:root {

    /* media-width */
    --mw-1280: 1280px;
    --mw-992: 992px;
    --mw-600: 600px;
}



html{
  box-sizing: border-box;
}
body,
html{
    max-width: 100vw;
    width: 100vw;
    font-family: 'Nunito';
}

::-webkit-scrollbar{
    display: none;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}

.container{
    max-width: var(--mw-1280);
    margin: 0 auto;
    padding: 0 15px;
}
 